<table class="access-log-table table w-full">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Rating</th>
      <th>Vicinity</th>
      <th>Opening Hours</th>
    </tr>
  </thead>
  <tbody id='place-list'></tbody>
</table>
