<footer>
  <div class="btm-nav">
    <button class="active">
      <i class="fa-solid fa-magnifying-glass h-5 w-5"></i>
      <span class="btm-nav-label">Search</span>
    </button>
    <button>
      <i class="fa-solid fa-house h-5 w-5"></i>
      <span class="btm-nav-label">Home</span>
    </button>
    <button>
      <i class="fa-regular fa-user h-5 w-5"></i>
      <span class="btm-nav-label">User</span>
    </button>
    <button>
      <i class="fa-solid fa-circle-info h-5 w-5"></i>
      <span class="btm-nav-label">About</span>
    </button>
  </div>
</footer>
